table,th,td{
    border:2px solid black;
/*    border-collapse:collapse;
*/    padding: 12px;
    text-align:center;
    border-radius: 15px;
    color:white;
}
table{
    width: 40%;
}
th{
    background-color: red;
}
tr:nth-child(even){
    background-color: blue;
}
tr:nth-child(odd){
    background-color: green;
}
td{
    cursor: pointer;
}
td:hover{
    background-color: white;
    color:black;
}