<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <!-- <a class="navbar-brand" href="#">Navbar</a> -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/home">Home </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/about">About </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/help">Help </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/property-bindings">Property Binding </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/event-bindings">Event Binding </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/twoway-bindings">TwoWay Binding </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/food">NgFor </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/ng-switch">NgSwitch </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/form1">Form 1 </a>
      </li>
      <li class="nav-item active">
          <a class="nav-link" routerLink="/form2">Form 2 </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/form3">Form 3 </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/form4">Form 4 </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/register-page">Reactive Form </a>
      </li>
      <li class="nav-item active">
          <a class="nav-link" routerLink="/parent">Parent </a>
        </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit" routerLink="/login">Login</button>
    </form>
    <form class="form-inline my-2 my-lg-0">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit" routerLink="/register">Register</button>
    </form>
  </div>
</nav>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <!-- <a class="navbar-brand" href="#">Navbar</a> -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/comment-details">Comment Section</a>
        </li>
    </ul>

  </div>
</nav>
