<app-header></app-header>
    <div class="row text-center mt-3 mb-3" [hidden]="service.arr.isDisplay">
    <div class="col-md-3 float-left">
        <h3 class="text-center">Entertainment news</h3>
        <div class="col-md-12 card card-body" *ngFor="let news of enterTainmentNews">
            <img src="{{news.urlToImage}}" alt="">
            <h2>{{news.title}}</h2>
        </div>
    </div>
    <div class="col-md-6 float-left">
            <h3 class="text-center">Top news from india</h3>
        <div class="col-md-12 card card-body" *ngFor="let news of indiaNews">
            <img src="{{news.urlToImage}}" alt="">
            <h2>{{news.title}}</h2>
        </div>
    </div>
    <div class="col-md-3 float-left">
            <h3 class="text-center">Sports news</h3>
        <div class="col-md-12 card card-body" *ngFor="let news of sportsNews">
            <img src="{{news.urlToImage}}" alt="">  
            <h2>{{news.title}}</h2>
        </div>
    </div>
    </div>
<router-outlet></router-outlet>