<div class="container text-center mt-3">
    <select name="sources" id="sources" class="col-md-4 p-2" (change)="changedSources($event)">
      <option value="0" selected disabled>Select Sources</option>
      <option *ngFor="let source of sourcesList" value="{{source.value}}">{{source.name}}</option>
    </select>
  </div>
  <div class="row mt-3 mb-3">
      <div class="container col-md-4 card card-body" *ngFor="let news of sourcesUrl"> 
          <img src="{{news.urlToImage}}" alt="">
          <h3>{{news.title}}</h3>
        </div>
  </div>