
<nav class="navbar navbar-expand-lg navbar bg-dark">
    <a class="navbar-brand" href="#">IMDB</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" routerLink="/Mo">Movies</a>
          </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/Amo">Add Movies</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/lg">Login</a>
          </li>
        
      </ul>
     </div>
  </nav>